@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 224 71% 10%;
    --card: 210 100% 100%;
    --card-foreground: 224 71% 10%;
    --popover: 210 100% 100%;
    --popover-foreground: 224 71% 10%;
    --primary: 195 53% 79%;
    --primary-foreground: 224 71% 10%;
    --secondary: 210 60% 93%;
    --secondary-foreground: 224 71% 10%;
    --muted: 210 60% 93%;
    --muted-foreground: 224 71% 30%;
    --accent: 3 100% 69%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 90% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 85%;
    --input: 210 40% 85%;
    --ring: 195 53% 70%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 195 53% 79%;
    --primary-foreground: 224 71% 10%;
    --secondary: 210 40% 14.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 14.9%;
    --muted-foreground: 210 40% 63.9%;
    --accent: 3 100% 79%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 20%;
    --input: 210 40% 14.9%;
    --ring: 195 53% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  .pixel-art {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  .user-quote-text {
    @apply text-black;
  }

  .dark .user-quote-text {
    @apply text-white;
  }
}

@layer components {
  .bg-adaptive-img {
    @apply mix-blend-multiply dark:mix-blend-screen;
  }
}
